<div class="container my-5">
    <h2 class="text-center">{{ title }}</h2>
    <!-- <div *ngFor="let room of rooms">
        {{room.roomNumber | json}}
    </div>
    <table class="table">
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Price</th>
            <th>Amenities</th>
            <th>Checkin Time</th>
            <th>Actions</th>
        </tr>
        <tr [ngClass]="e?'even' : 'odd'"
            *ngFor="let room of rooms | filter : (price === null)? 0 : price; let e = even; let o = odd; let i = index;">
            <td>{{ i }}</td>
            <td>{{ e ? "Even" : "Odd" }}</td>
            <td>{{ room.roomNumber }}</td>
            <td>{{ room.roomType }}</td>
            <td>{{ room.price | currency: 'EUR'}}</td>
            <td>{{ room.amenities | lowercase}}</td>
            <td>{{ room.checkinTime | date : 'short'}}</td>
            <td>
                <button class="btn btn-primary" (click)="selectRoom(room)">
                        Select
                    </button>
                <button class="btn btn-primary" [routerLink]="['/booking', room.roomNumber]">
                    Book Room
                </button>
            </td>
        </tr>
    </table> -->

    <dx-data-grid id="gridContainer" [dataSource]="rooms" [remoteOperations]="false" [allowColumnReordering]="true"
        [rowAlternationEnabled]="true" [showBorders]="true" [filterValue]="filterValue">
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
        <dxo-filter-builder-popup [position]="popupPosition">
        </dxo-filter-builder-popup>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

        <dxi-column dataField="roomNumber" caption="RoomNumber" dataType="number" alignment="left"></dxi-column>
        <dxi-column dataField="roomType" caption="Room Type" dataType="string" alignment="left"></dxi-column>
        <dxi-column dataField="price" caption="Price" dataType="number" format="currency" alignment="left"></dxi-column>
        <dxi-column dataField="amenities" caption="Amenities" dataType="string" alignment="left"></dxi-column>
        <dxi-column dataField="checkinTime" caption="Checkin Time" dataType="date" alignment="left"></dxi-column>
        <dxi-column caption="Action" cellTemplate="rooms" alignment="center"></dxi-column>

        <div *dxTemplate="let r of 'rooms'">
            <dx-button type="default" [routerLink]="['/booking', r.data.roomNumber]" text="Book Room">
            </dx-button>
        </div>



    </dx-data-grid>
</div>